In [44]:
import pandas as pd
df = pd.read_csv('example.csv')

In [45]:
df

  Name Surname email                      note
0    A       B    a@                 this is a
1    C       D    b@  this is "b", but not "a"
2    E       F    c@                 this is c

In [46]:
names, lastnames, notes = "","",""

for index, row in df.iterrows():
    names += row['Name'] + ", ";
    lastnames += row['Surname'] + ", ";
    notes += '\n' + row['note']

In [51]:
print("Hi my names are:", names)
print("Hi my last are", lastnames)
print("The notes are:", notes)

Hi my names are: A, C, E,
Hi my last are B, D, F,
The notes are:
this is a
this is "b", but not "a"
this is c